<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>vue_fourth 搜索</title>
        <link href="src/css/lxy_style_4.css" rel="stylesheet" type="text/css">
        <!--<script src="http://vuejs.org/js/vue.js"></script>-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
    </head>
    <body>
        <form id="main_4" v-cloak>
            <div class="bar">
                <input type="text" v-model="searchString" placeholder="Enter your search terms" />
            </div>
            <ul>
                <li v-for="i in articles | searchFor searchString">
                    <a v-bind:href="i.url"></a>
                    <p>{{i.title}}</p>
                </li>
            </ul>
        </form>
        <script>
            Vue.filter('searchFor', function(value, searchString){
                var result = [];
                if(!searchString){
                    return value;
                }
                searchString = searchString.trim().toLowerCase();
                result = value.filter(function(item){
                    if(item.title.toLowerCase().indexOf(searchString) !== -1){
                        return item;
                    }
                })
                return result;
            })
            var demo = new Vue({
                el: '#main_4',
                data: {
                    searchString: "",
                    articles: [
                        {
                            "title": "What You Need To Know About CSS Variables",
                            "url": "http://tutorialzine.com/2016/03/what-you-need-to-know-about-css-variables/",
                        }, {
                            "title": "Freebie: 4 Great Looking Pricing Tables",
                            "url": "http://tutorialzine.com/2016/02/freebie-4-great-looking-pricing-tables/",
                        }, {
                            "title": "20 Interesting JavaScript and CSS Libraries for February 2016",
                            "url": "http://tutorialzine.com/2016/02/20-interesting-javascript-and-css-libraries-for-february-2016/",
                        }, {
                            "title": "Quick Tip: The Easiest Way To Make Responsive Headers",
                            "url": "http://tutorialzine.com/2016/02/quick-tip-easiest-way-to-make-responsive-headers/",
                        }, {
                            "title": "Learn SQL In 20 Minutes",
                            "url": "http://tutorialzine.com/2016/01/learn-sql-in-20-minutes/",
                        }, {
                            "title": "Creating Your First Desktop App With HTML, JS and Electron",
                            "url": "http://tutorialzine.com/2015/12/creating-your-first-desktop-app-with-html-js-and-electron/",
                        }
                    ]
                }
            });
        </script>
    </body>
</html>