<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>vue_second</title>
        <link href="src/css/lxy_style.css" rel="stylesheet" type="text/css">
        <script src="http://vuejs.org/js/vue.js"></script>
    </head>
    <body>
        <div id="main" v-cloak v-on:click="hideTooltip">
            <div class="tooltip" v-on:click.stop v-if="show_tooltip">
                <input type="text" v-model="text_content"/>
            </div>
            <p v-on:click.stop="toggleTooltip">{{text_content}}</p>
        </div>
        <script>
            var demo = new Vue({
                el: '#main',
                data: {
                    show_tooltip: false,
                    text_content: 'Edit me'
                },
                methods: {
                    hideTooltip: function(){
                        this.show_tooltip = false;
                    },
                    toggleTooltip: function(){
                        this.show_tooltip = !this.show_tooltip;
                    }
                }
            })
        </script>
    </body>
</html>